NEXT_PUBLIC_API_MAIN_BASE_URL=http://localhost:5000
NEXT_PUBLIC_API_MAIN_BASE_PATH=/api/v1
NEXT_PUBLIC_API_MAIN_BASE_DOMAIN=/business-dashboard
NEXT_PUBLIC_CLOUDINARY_API_SECRET=0lOQBgdIsgaGd24ubX-udc3Xacg
NEXT_PUBLIC_CLOUDINARY_API_KEY=783649256835991
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dziodufj8